*.pyc
__pycache__/
_cache/
checkpoints/
*.pth
*.pt
*.txt
*.jpg
*.png
*ipynb
.ipynb_checkpoints/
.idea/
*.mp4
*.sh
.idea/

# data folder
data/
pretrained/

# output folder
log/
outputs/
results/
slurm_log/

